body {
 background-repeat: no-repeat;
 font-family: Monospace;
 margin: 0;
 padding: 0;
}
h1   {
      color: slateblue;
      font-family:verdana;
      font-size:90%;
}
h2   {
  text-align:center;
  font-size:250%;
  font-family:Times;
  }
.information{
  font-family:Arial;
  
}